@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
@import url('https://fonts.googleapis.com/css2?family=Merriweather');

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      13px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #002C54;
  --header-color:    #002C54;
  --body-color:      #404040;
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Merriweather', serif;
  --mono-font:       "JetBrains Mono", monospace;
  --body-font:       "Noto Sans JP", sans-serif;
  --navbar-font:     "Merriweather", sans-serif;
}




p.author /* styling for the names of the authors */{
  font-size: 1.5rem;
}
